<section id="register-today">
  <a href="#tickets">Only 300 seats available — register today!</a>
</section>

<section class="sponsors clearfix">
  <h2>Our lovely sponsors</h2>
  <div class="sponsor span-4">
    <img src="/sponsors/rubycentral.png">
    <div class="diamond">Diamond</div>
  </div>
  <div class="sponsor span-4">
    <img src="/sponsors/rubycentral.png">
    <div class="diamond">Diamond</div>
  </div>
  <div class="sponsor span-4">
    <img src="/sponsors/rubycentral.png">
    <div class="platinum">Platinum</div>
  </div>
  <div class="sponsor span-4">
    <img src="/sponsors/rubycentral.png">
    <div class="gold">Gold</div>
  </div>
  <div class="sponsor span-4">
    <img src="/sponsors/rubycentral.png">
    <div class="silver">Silver</div>
  </div>
  <div class="sponsor span-4 last">
    <img src="/sponsors/rubycentral.png">
    <div class="exhibitor">Exhibitor</div>
  </div>
</section>

<section id="venue">
  <h1>Venue</h1>
  <p>RubyShift 2011 will take place at Potyomkin Palace in the heart of Dnipropetrovsk, Ukraine. It's located in the central park area near the river bank.</p>
  <br>
  <iframe width="950" height="500" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=CZuyAsQsIq7jFTJy4wIdSx0XAik3rXsQzuLbQDGS35StYk6VUg&amp;q=48.460657,35.070934&amp;aq=&amp;sll=48.460338,35.069259&amp;sspn=0.009676,0.021501&amp;ie=UTF8&amp;ll=48.460657,35.070934&amp;spn=0.002419,0.005375&amp;z=16&amp;output=embed"></iframe><br /><small><a href="http://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=CZuyAsQsIq7jFTJy4wIdSx0XAik3rXsQzuLbQDGS35StYk6VUg&amp;q=48.460657,35.070934&amp;aq=&amp;sll=48.460338,35.069259&amp;sspn=0.009676,0.021501&amp;ie=UTF8&amp;ll=48.460657,35.070934&amp;spn=0.002419,0.005375&amp;z=14" style="color:#0000FF;text-align:left">View Larger Map</a></small>
</section>

<section id="travel" class="clearfix">
  <div class="span-12">
    <h1>Travel</h1>
    <p>Ukraine doesn't require a visa for 200+ countries, including the United States and European Union.</p>
  </div>
  <div class="span-12 last">
    <h1>Where to stay</h1>
    <p>Rooms in a few hotels will be available at a special conference rate, a day before registration starts.</p>
    <p>We'd be happy to help you with accommodation. Ping us at @rubyshift and we'll get in touch with you.</p>
  </div>
</section>

<section id="assistance" class="clearfix">
  <div class="span-12">
    <h1>Assistance</h1>
    <p>You will be able to get in touch 24/7 with the organizing committee during the conference. We will publish their phone numbers and contacts in a little while.</p>
  </div>
  <div class="span-12 last">
    <h1>Taxi</h1>
    <p>The recommended taxi services are +380.56.3747474 and +380.56.2366366. They offer a fair rate and quick service.</p>
    <p>You'll have suggestions on cafés, bars, pubs and taxis in your conference guide.</p>
  </div>
</section>

<section id="schedule">
  <h1>Schedule</h1>
  <% if params[:vanga] == '1' %>
    <h2>Friday, October 21</h2>
    <table class="schedule">
      <tr>
        <th class="event">Event</th>
        <th class="time">Time</th>
      </tr>
      <tr>
        <td>
          Drinks / Pre-conference Party
          at <a href="http://maps.google.com.ua/maps/place?cid=8966743062485920411&q=beerhouse+dnipropetrovsk&hl=en&dtab=0&sll=48.492519,34.792532&sspn=0.066725,0.622294&ie=UTF8&ll=48.805055,34.155121&spn=0,0&z=10">Beerhouse</a></td>
        <td>19:00 – 22:00</td>
      </tr>
    </table>

    <h2>Saturday, October 22</h2>
    <table class="schedule">
      <tr>
        <th class="event">Event</th>
        <th class="time">Time</th>
      </tr>
      <tr>
        <td>Registration and Breakfast</td>
        <td>7:00 – 9:45</td>
      </tr>
      <tr class="break">
        <td>Opening Talk / Welcome</td>
        <td>9:45 — 10:00</td>
      </tr>
      <tr class="break">
        <td>Break</td>
        <td>10:00 — 10:30</td>
      </tr>
      <tr>
        <td>Keynote</td>
        <td>10:30 — 11:15</td>
      </tr>
      <tr>
        <td>Talk</td>
        <td>11:15 — 12:00</td>
      </tr>
      <tr class="break">
        <td>Lunch</td>
        <td>12:00 — 14:00</td>
      </tr>
      <tr>
        <td>Talk</td>
        <td>14:00 — 14:45</td>
      </tr>
      <tr class="break">
        <td>Break</td>
        <td>14:45 — 15:15</td>
      </tr>
      <tr>
        <td>Talk</td>
        <td>15:15 — 16:00</td>
      </tr>
      <tr class="break">
        <td>Break</td>
        <td>16:00 — 16:30</td>
      </tr>
      <tr>
        <td>Talk</td>
        <td>16:30 — 17:15</td>
      </tr>
      <tr>
        <td>Lighting Talks</td>
        <td>17:30 — 19:30</td>
      </tr>
      <tr>
        <td>Dinner Party</td>
        <td>20:00 — 2:00</td>
      </tr>
    </table>

    <h2>Sunday, October 22</h2>
    <table class="schedule">
      <tr>
        <th class="event">Event</th>
        <th class="time">Time</th>
      </tr>
      <tr class="break">
        <td>Breakfast & Alka-Seltzer</td>
        <td>9:00 — 10:00</td>
      </tr>
      <tr>
        <td>Talk</td>
        <td>10:00 — 10:45</td>
      </tr>
      <tr class="break">
        <td>Break</td>
        <td>10:45 — 11:15</td>
      </tr>
      <tr>
        <td>Talk</td>
        <td>11:15 — 12:00</td>
      </tr>
      <tr class="break">
        <td>Lunch</td>
        <td>12:00 — 14:00</td>
      </tr>
      <tr>
        <td>Talk</td>
        <td>14:00 — 14:45</td>
      </tr>
      <tr>
        <td>Talk</td>
        <td>14:45 — 15:30</td>
      </tr>
      <tr class="break">
        <td>Break</td>
        <td>15:30 — 16:00</td>
      </tr>
      <tr>
        <td>Talk</td>
        <td>16:00 — 16:45</td>
      </tr>
      <tr>
        <td>Closing Remarks</td>
        <td>16:45 — 17:00</td>
      </tr>
      <tr>
        <td>Dinner with a speaker</td>
        <td>19:30 — 21:30</td>
      </tr>
    </table>
  <% else %>
    <p>Conference schedule will be announced soon. Stay tuned!</p>
  <% end %>
</section>

<section id="tickets">
  <h1>Tickets</h1>
  <p>RubyShift 2011 will have great speakers. However, before we announce who they are we offer you to grab a ticket.</p>
  <p>Rails contributors also get special pricing: 100% off if you have 50 commits or more, 50% for 20 commits, and 10% for 1 or more commits. It's also possible to get a discount if you're contributing to other projects. <a href="https://spreadsheets.google.com/a/rubyshift.org/spreadsheet/viewform?formkey=dDkwTlVxMVd4WGdIN1E2ZEVjUUpWRlE6MQ">Apply</a> for a personal discount code.</p>
  <br>
  <div id="amiando">
    <script type="text/javascript" src="https://www.amiando.com/resources/js/amiandoExport.js"></script><iframe src="https://www.amiando.com/QLXFLZL.html?viewType=iframe&panelId=1006897&useDefaults=false&resizeIFrame=true" frameborder="0" width="650px" height="450px" name="_amiandoIFrame1006897WZCe78QG" id="_amiandoIFrame1006897WZCe78QG"><p>This page requires frame support. Please use a frame compatible browser to see the amiando ticket sales widget.</p><p> Try out the <a href="http://www.amiando.com/">online event registration system</a> from amiando.</p></iframe>
  </div>
  <p>Please enter the correct information (name and company) for each participant, as this data will be used on the conference badges.</p>
  <p>If you made a mistake with the participant information, please let us know at <a href="mailto:contact@rubyshift.org">contact@rubyshift.org</a>, and we can manually correct the information.</p>
</section>

<section id="submit-a-proposal">
  <h1>Submit a Proposal</h1>
  <p>You're about to submit a proposal for 2nd conference on Ruby programming language in Eastern Europe. Thanks for that.</p>
  <p>You can give a talk, organize a master class or panel discussion. To make a submission please, fill in <a href="https://spreadsheets.google.com/a/rubyshift.org/spreadsheet/viewform?formkey=dHdQQUhFRUE5ZkkwcmhPOUNpbkRGMkE6MQ">this form</a>. You an edit your submission later.</p>
</section>

<section id="socialize">
  <h1>Socialize</h1>
  <p>Twitter: Tag your tweets with <a href="http://search.twitter.com/search?q=%23rubyshift">#rubyshift</a>, follow <a href="http://twitter.com/rubyshift">@rubyshift</a></p>
  <p>Flickr: Tag your photos with <a href="http://www.flickr.com/photos/tags/rubyshift/">#rubyshift</a></p>
</section>

<section id="sponsor-us">
  <h1>Sponsor Us</h1>
  <p>Interested in sponsoring? Download our <a href="/concept.pdf">sponsorship prospectus</a> and then drop us a line at <a href="mailto:sponsorships@rubyshift.org">sponsorships@rubyshift.org</a>.</p>
</section>
