<section id="register-today">
  <a href="#tickets">Only 300 seats available — register today!</a>
</section>

<section id="the-conference">
  <div class="clearfix banner">
    <div class="span-8 prepend-8 date-banner">
      <p class="conf-name">RubyShift 2011</p>
      <p class="dates">October 22—23</p>
      <p class="place">Dnipropetrovsk, Ukraine</p>
    </div>
  </div>

  <h1>The Conference</h1>
  <p>
    When you come to RubyShift 2011, you'll get a single-track, two-day Ruby conference, featuring the best speakers ever attended Eastern Europe.
    On October 22—23, 2011, more than 250 people will be attending the conference. <a href="#tickets">Register now</a> and grab a ticket to join them.
  </p>
</section>

<section class="sponsors clearfix">
  <h2>Our lovely sponsors</h2>
  <div class="sponsor span-6">
    <a href="http://evrythng.net"><img src="/sponsors/evrythng.png"></a>
  </div>
  <div class="sponsor span-6">
    <a href="http://ciklum.net"><img src="/sponsors/ciklum.png"></a>
  </div>
  <div class="sponsor span-6">
    <a href="http://softserveinc.com"><img src="/sponsors/softserve.png"></a>
  </div>
</section>

<section id="venue">
  <h1>Venue</h1>
  <p>RubyShift 2011 will take place at Potyomkin Palace in the heart of Dnipropetrovsk, Ukraine. It's located in the central park area near the river bank.</p>
  <br>
  <iframe width="950" height="500" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=CZuyAsQsIq7jFTJy4wIdSx0XAik3rXsQzuLbQDGS35StYk6VUg&amp;q=48.460657,35.070934&amp;aq=&amp;sll=48.460338,35.069259&amp;sspn=0.009676,0.021501&amp;ie=UTF8&amp;ll=48.460657,35.070934&amp;spn=0.002419,0.005375&amp;z=14&amp;output=embed"></iframe><br /><small><a href="http://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=CZuyAsQsIq7jFTJy4wIdSx0XAik3rXsQzuLbQDGS35StYk6VUg&amp;q=48.460657,35.070934&amp;aq=&amp;sll=48.460338,35.069259&amp;sspn=0.009676,0.021501&amp;ie=UTF8&amp;ll=48.460657,35.070934&amp;spn=0.002419,0.005375&amp;z=14" style="color:#0000FF;text-align:left">View Larger Map</a></small>
</section>

<section id="travel" class="clearfix">
  <div class="span-12">
    <h1>Travel</h1>
    <p>Ukraine doesn't require a visa for 200+ countries, including the United States and European Union. Daily flights from Vienna. Check your favorite booking web site for more info.</p>
    <p>Ping us and we'll meet you at the airport.</p>
  </div>
  <div class="span-12 last">
    <h1>Assistance</h1>
    <p>You will be able to get in touch 24/7 with the organizing committee during the conference. Just give us a call at +380(98)691-1323. Also, we'll be happy to help you with accommodation, just drop us an email.</p>
  </div>
</section>

<section id="schedule">
  <h1>Schedule</h1>
  <p>This is our draft schedule, which is obviously a subject to change. We'll publish the list of speakers in early August, so feel free to submit a proposal!</p>
  <h2>Friday, October 21</h2>
  <table class="schedule">
    <tr>
      <th class="event">Event</th>
      <th class="time">Time</th>
    </tr>
    <tr>
      <td>
        Drinks / Pre-conference Party
        at <a href="http://maps.google.com.ua/maps/place?cid=8966743062485920411&q=beerhouse+dnipropetrovsk&hl=en&dtab=0&sll=48.492519,34.792532&sspn=0.066725,0.622294&ie=UTF8&ll=48.805055,34.155121&spn=0,0&z=10">Beerhouse</a></td>
      <td>19:00 – 22:00</td>
    </tr>
  </table>

  <div class="clearfix">
    <div class="span-12">
      <h2>Saturday, October 22</h2>
      <table class="schedule">
        <tr>
          <th class="event">Event</th>
          <th class="time">Time</th>
        </tr>
        <tr>
          <td>Registration and Breakfast</td>
          <td>7:00 – 9:45</td>
        </tr>
        <tr>
          <td>Opening Talk / Welcome</td>
          <td>9:45 — 10:00</td>
        </tr>
        <tr>
          <td>Keynote</td>
          <td>10:00 — 10:45</td>
        </tr>
        <tr class="break">
          <td>Break</td>
          <td>10:45 — 11:15</td>
        </tr>
        <tr>
          <td>Josh Kalderimis</td>
          <td>11:15 — 12:00</td>
        </tr>
        <tr class="break">
          <td>Lunch</td>
          <td>12:00 — 14:00</td>
        </tr>
        <tr>
          <td>Sven Fuchs</td>
          <td>14:00 — 14:45</td>
        </tr>
        <tr class="break">
          <td>Break</td>
          <td>14:45 — 15:15</td>
        </tr>
        <tr>
          <td>Thorben Schröder</td>
          <td>15:15 — 16:00</td>
        </tr>
        <tr class="break">
          <td>Break</td>
          <td>16:00 — 16:30</td>
        </tr>
        <tr>
          <td>Jon Leighton</td>
          <td>16:30 — 17:15</td>
        </tr>
        <tr>
          <td>Lighting Talks</td>
          <td>17:30 — 19:30</td>
        </tr>
        <tr>
          <td>Dinner Party</td>
          <td>20:00 — 2:00</td>
        </tr>
      </table>
    </div>
    <div class="span-12 last">
      <h2>Sunday, October 23</h2>
      <table class="schedule">
        <tr>
          <th class="event">Event</th>
          <th class="time">Time</th>
        </tr>
        <tr class="break">
          <td><span style="color:#FFF;font-style:italic;">(zZZZZZZZ...)</span></td>
          <td></td>
        </tr>
        <tr class="break">
          <td>Breakfast <span style="color:#FFF;font-style:italic;">(Alka-Seltzers!)</span></td>
          <td>9:00 — 10:00</td>
        </tr>
        <tr>
          <td>Yaroslav Lazor</td>
          <td>10:00 — 10:45</td>
        </tr>
        <tr class="break">
          <td>Break</td>
          <td>10:45 — 11:15</td>
        </tr>
        <tr>
          <td>Danish Khan</td>
          <td>11:15 — 12:00</td>
        </tr>
        <tr class="break">
          <td>LUNCH</td>
          <td>12:00 — 14:00</td>
        </tr>
        <tr>
          <td>Pablo Dejuan</td>
          <td>14:00 — 14:45</td>
        </tr>
        <tr class="break">
          <td>Break</td>
          <td>14:45 — 15:15</td>
        </tr>
        <tr>
          <td>Aleksander Dąbrowski</td>
          <td>15:15 — 16:00</td>
        </tr>
        <tr>
          <td>Talk</td>
          <td>16:00 — 16:45</td>
        </tr>
        <tr>
          <td>Closing Remarks</td>
          <td>16:45 — 17:00</td>
        </tr>
        <tr>
          <td>Dinner with a speaker</td>
          <td>19:30 — 21:30</td>
        </tr>
      </table>
    </div>
  </div>
</section>

<section id="speakers">
  <h1>Speakers</h1>
  <div class="speaker clearfix">
    <div class="span-4">
      <img src="/speakers/thorben.png">
    </div>
    <div class="span-20 last">
      <h3>Thorben Schröder</h3>
      <h4>Bridging the gap — Using JavaScript in Rails to write DRY rich client applications</h4>
      <p>Together with Jan Steinmetz, Thorben founded “kopfmaschine” in 2010 where they delivered web development to the German market. Today he works at Engine Yard in San Francisco, where he helps to make the life of developers a little easier — every day.</p>
      <p>This talk shows how to integrate the two worlds seamlessly and without pain. It will show paths to DRY up your business logic, ways to integrate your JS specs in your Ruby testing environment / CI, and last but not least how to maximize your benefits from using JS together with Ruby.</p>
    </div>
  </div>
  <br>
  <div class="speaker clearfix">
    <div class="span-4">
      <img src="/speakers/kalderimis.png">
    </div>
    <div class="span-20 last">
      <h3>Josh Kalderimis</h3>
      <h4>Travis CI — Distributed, Сontinuous Integration for the Ruby community</h4>
      <p>
        Josh is a top-30 Ruby on Rails contributor and has been working with
        the framework since 2008. He maintains a massive amount of open-source
        Ruby projects, including multi_json, linkedin, faraday_middleware and
        his own completeness-fu. He's also one of Amsterdam.rb's organizers,
        the head PR guy and core team member for the Travis-CI team.
      </p>
      <p>
        In his talk Josh, one of the core members of the developers team, will
        talk about Travis CI and introduce you to the vision behind it and the
        way it is implemented.
      </p>
    </div>
  </div>
  <br>
  <div class="speaker clearfix">
    <div class="span-4">
      <img src="/speakers/leighton.png">
    </div>
    <div class="span-20 last">
      <h3>Jon Leighton</h3>
      <h4>How hard can it be? — Implementing nested through associations in Active Record</h4>
      <p>
        <a href="http://jonathanleighton.com">Jon Leighton</a> is a freelance
        Ruby programmer with a passion for code quality. He accidentally became
        a Rails committer in April 2011 after discovering that submitting
        patches is addictive.
      </p>
      <p>
        In September 2010, Jon Leighton began implementing a long standing
        feature request in Rails. But what initially seemed like a few days'
        work became an epic journey, involving a near complete rewrite of
        Active Record's associations code. 6 months and 240 commits later, the
        patch finally landed. In this talk you will hear valuable insights
        gained along the way, and learn about the refactoring techniques
        used.
      </p>
    </div>
  </div>
  <br>
  <div class="speaker clearfix">
    <div class="span-4">
      <img src="/speakers/fuchs.png">
    </div>
    <div class="span-20 last">
      <h3>Sven Fuchs</h3>
      <h4>To Be Announced</h4>
      <p>
        Sven Fuchs, pronounced [sfɛn fʊks], is an experienced software developer
        and opensource enthusiast currently based in Berlin. While focussing on
        Ruby/Rails development for the last 4 years he published a good number
        of Ruby and Rails projects, tools and libraries. Consistently ranked
        amongst the top 30 on Rails ranking sites he is probably best known for
        leading the Ruby I18n project, the Ruby gem which is shipped with Rails
        to provide internationalization support.
      </p>
    </div>
  </div>
  <br>
  <div class="speaker clearfix">
    <div class="span-4">
      <img src="/speakers/lazor.jpg" style="width:150px;">
    </div>
    <div class="span-20 last">
      <h3>Yaroslav Lazor</h3>
      <h4>Heroes of UnSilicon Valley</h4>
      <p>
        Insight of Railsware CEO Yaroslav Lazor on how to make great products
        in a right way with Ruby on Rails in Ukrainian reality.
      </p>
    </div>
  </div>
  <br>
  <div class="speaker clearfix">
    <div class="span-4">
      <img src="/speakers/pable-dejuan.jpeg" style="width:150px;">
    </div>
    <div class="span-20 last">
      <h3>Pablo Dejuan</h3>
      <h4>Rethinking testing towards your needs</h4>
      <p>
        Pablo Dejuan is a programmer and IT consultant working for Cubox at
        Montevideo. However, from time to time, he changes hats and do things
        that programmers dislike the most such as focusing on business
        expectations, reporting, budgeting or QA.
      </p>
      <p>
        Nowadays, TDD, BDD, continuous testing and other methodologies have
        come into our attention when developing. Yet, we barely know what
        needs to be tested and why are we testing it?  During the talk we will
        go through a bunch of testing methodologies.
      </p>
    </div>
  </div>
  <br>
  <div class="speaker clearfix">
    <div class="span-4">
      <img src="/speakers/aleks.jpg" style="width:150px;">
    </div>
    <div class="span-20 last">
      <h3>Aleksander Dąbrowski</h3>
      <h4>Building API: Sinatra, Node.js or else</h4>
      <p>
        We create APIs. We want them to be fast. We want them to get into high
        gear. But we also like to play with new toys and produce clean code.
        In this talk, Aleksander will confront Node.js vs Sinatra as a tool to
        build external API for Rails application. He will focus on pros and
        cos of sharing code with main application, performance and scalabilty.
        He'll also take a look at other solutions, maybe secret ingredient is
        somewhere else?
      </p>
      <p>
        Aleksander Dąbrowski is everyday Ruby programmer since 2008. He loves to
        spread Ruby around so, he co-organize Warsaw Ruby Users Group, where he
        sometimes speak; and tries to teach Ruby on his blog. He loves to delete
        ugly code, and in his spare time repairs cars.
      </p>
    </div>
  </div>
</section>

<section id="tickets">
  <h1>Tickets</h1>
  <p>RubyShift 2011 will have great speakers. However, before we announce who they are we offer you to grab a ticket.</p>
  <p>Rails contributors also get special pricing: 100% off if you have 50 commits or more, 50% for 20 commits, and 10% for 1 or more commits. It's also possible to get a discount if you're contributing to other projects. <a href="https://spreadsheets.google.com/a/rubyshift.org/spreadsheet/viewform?formkey=dDkwTlVxMVd4WGdIN1E2ZEVjUUpWRlE6MQ">Apply</a> for a personal discount code.</p>
  <br>
  <div id="amiando">
    <script type="text/javascript" src="https://www.amiando.com/resources/js/amiandoExport.js"></script><iframe src="https://www.amiando.com/QLXFLZL.html?viewType=iframe&panelId=1006897&useDefaults=false&resizeIFrame=true" frameborder="0" width="650px" height="450px" name="_amiandoIFrame1006897WZCe78QG" id="_amiandoIFrame1006897WZCe78QG"><p>This page requires frame support. Please use a frame compatible browser to see the amiando ticket sales widget.</p><p> Try out the <a href="http://www.amiando.com/">online event registration system</a> from amiando.</p></iframe>
  </div>
  <p>Please enter the correct information (name and company) for each participant, as this data will be used on the conference badges.</p>
  <p>If you made a mistake with the participant information, please let us know at <a href="mailto:contact@rubyshift.org">contact@rubyshift.org</a>, and we can manually correct the information.</p>
</section>

<section id="submit-a-proposal">
  <h1>Submit a Proposal</h1>
  <p>You're about to submit a proposal for 2nd conference on Ruby programming language in Eastern Europe. Thanks for that.</p>
  <p>You can give a talk, organize a master class or panel discussion. To make a submission please, fill in <a href="https://spreadsheets.google.com/a/rubyshift.org/spreadsheet/viewform?formkey=dHdQQUhFRUE5ZkkwcmhPOUNpbkRGMkE6MQ">this form</a>. You can edit your submission later.</p>
</section>

<section id="socialize">
  <h1>Socialize</h1>
  <p>Twitter: Tag your tweets with <a href="http://search.twitter.com/search?q=%23rubyshift">#rubyshift</a>, follow <a href="http://twitter.com/rubyshift">@rubyshift</a></p>
  <p>Flickr: Tag your photos with <a href="http://www.flickr.com/photos/tags/rubyshift/">#rubyshift</a></p>
</section>

<section id="sponsor-us">
  <h1>Sponsor Us</h1>
  <p>Interested in sponsoring? Download our <a href="/concept.pdf">concept paper</a> and <a href="/sponsorship-prospectus.pdf">sponsorship prospectus</a>, and then drop us a line at <a href="mailto:sponsorships@rubyshift.org">sponsorships@rubyshift.org</a>.</p>
</section>

<a id="dates" href="#tickets">
  <span>October 22—23, 2011</span>
  <span>Grab a ticket!</span>
</a>
