<section id="register-today">
  <a href="#tickets">Only 300 seats available — register today!</a>
</section>

<section id="the-conference">
  <div class="clearfix banner">
    <div class="span-8 blurb">
      <h2>Early Bird Tickets</h2>
      <p>Register now and save $20</p>
    </div>
    <div class="span-8 date-banner">
      <p class="conf-name">RubyShift 2011</p>
      <p class="dates">October 22—23</p>
      <p class="place">Dnipropetrovsk, Ukraine</p>
    </div>
    <div class="span-8 last blurb">
      <h2>Early Bird Tickets</h2>
      <p>Register now and save $20</p>
    </div>
  </div>

  <h1>The Conference</h1>
  <p>
    When you come to RubyShift 2011, you'll get a single-track, two-day Ruby conference, featuring the best speakers ever attended Eastern Europe.
    On October 22—23, 2011, more than 250 people will be attending the conference. <a href="#tickets">Register now</a> and grab a ticket to join them.
  </p>
</section>

<section id="who-is-going">
  <h1>Who is coming</h1>
  <ul id="people">
    <li><a href="http://twitter.com/#!/_beai" target="_blank" title="_beai"><img src="http://api.twitter.com/1/users/profile_image/_beai"></a></li>
    <li><a href="http://twitter.com/#!/stanny_sid" target="_blank" title="stanny_sid"><img src="http://api.twitter.com/1/users/profile_image/stanny_sid"></a></li>
    <li><a href="http://twitter.com/#!/svenfuchs" target="_blank" title="svenfuchs"><img src="http://api.twitter.com/1/users/profile_image/svenfuchs"></a></li>
    <li><a href="http://twitter.com/#!/suaron" target="_blank" title="suaron"><img src="http://api.twitter.com/1/users/profile_image/suaron"></a></li>
    <li><a href="http://twitter.com/#!/joshkalderimis" target="_blank" title="joshkalderimis"><img src="http://api.twitter.com/1/users/profile_image/joshkalderimis"></a></li>
    <li><a href="http://twitter.com/#!/kombainer" target="_blank" title="kombainer"><img src="http://api.twitter.com/1/users/profile_image/kombainer"></a></li>
    <li><a href="http://twitter.com/#!/rxzxr" target="_blank" title="rxzxr"><img src="http://api.twitter.com/1/users/profile_image/rxzxr"></a></li>
    <li><a href="http://twitter.com/#!/fritzek" target="_blank" title="fritzek"><img src="http://api.twitter.com/1/users/profile_image/fritzek"></a></li>
    <li><a href="http://twitter.com/#!/MaxKolotilkin" target="_blank" title="MaxKolotilkin"><img src="http://api.twitter.com/1/users/profile_image/MaxKolotilkin"></a></li>
    <li><a href="http://twitter.com/#!/ifesdjeen" target="_blank" title="ifesdjeen"><img src="http://api.twitter.com/1/users/profile_image/ifesdjeen"></a></li>
    <li><a href="http://twitter.com/#!/clemensk" target="_blank" title="clemensk"><img src="http://api.twitter.com/1/users/profile_image/clemensk"></a></li>
    <li><a href="http://twitter.com/#!/sergsilver" target="_blank" title="sergsilver"><img src="http://api.twitter.com/1/users/profile_image/sergsilver"></a></li>
  </ul>
</section>

<section class="sponsors clearfix">
  <h2>Our lovely sponsors</h2>
  <div class="sponsor span-6">
    <a href="http://evrythng.net"><img src="/sponsors/evrythng.png"></a>
    <div class="gold">Gold</div>
  </div>
  <div class="sponsor span-6">
    <a href="http://ciklum.net"><img src="/sponsors/ciklum.png"></a>
    <div class="gold">Gold</div>
  </div>
  <% if false %>
    <div class="sponsor span-4">
      <img src="/sponsors/rubycentral.png">
      <div class="diamond">Diamond</div>
    </div>
    <div class="sponsor span-4">
      <img src="/sponsors/rubycentral.png">
      <div class="platinum">Platinum</div>
    </div>
    <div class="sponsor span-4">
      <img src="/sponsors/rubycentral.png">
      <div class="gold">Gold</div>
    </div>
    <div class="sponsor span-4">
      <img src="/sponsors/rubycentral.png">
      <div class="silver">Silver</div>
    </div>
    <div class="sponsor span-4 last">
      <img src="/sponsors/rubycentral.png">
      <div class="exhibitor">Exhibitor</div>
    </div>
  <% end %>
</section>

<section id="venue">
  <h1>Venue</h1>
  <p>RubyShift 2011 will take place at Potyomkin Palace in the heart of Dnipropetrovsk, Ukraine. It's located in the central park area near the river bank.</p>
  <br>
  <iframe width="950" height="500" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=CZuyAsQsIq7jFTJy4wIdSx0XAik3rXsQzuLbQDGS35StYk6VUg&amp;q=48.460657,35.070934&amp;aq=&amp;sll=48.460338,35.069259&amp;sspn=0.009676,0.021501&amp;ie=UTF8&amp;ll=48.460657,35.070934&amp;spn=0.002419,0.005375&amp;z=14&amp;output=embed"></iframe><br /><small><a href="http://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=CZuyAsQsIq7jFTJy4wIdSx0XAik3rXsQzuLbQDGS35StYk6VUg&amp;q=48.460657,35.070934&amp;aq=&amp;sll=48.460338,35.069259&amp;sspn=0.009676,0.021501&amp;ie=UTF8&amp;ll=48.460657,35.070934&amp;spn=0.002419,0.005375&amp;z=14" style="color:#0000FF;text-align:left">View Larger Map</a></small>
</section>

<section id="travel" class="clearfix">
  <div class="span-12">
    <h1>Travel</h1>
    <p>Ukraine doesn't require a visa for 200+ countries, including the United States and European Union. Daily flights from Vienna. Check your favorite booking web site for more info.</p>
    <p>Ping us and we'll meet you at the airport.</p>
  </div>
  <div class="span-12 last">
    <h1>Where to stay</h1>
    <p>Rooms in a few hotels will be available at a special conference rate, a day before registration starts.</p>
    <p>We'll be happy to help you with accommodation. Ping us at <a href="http://twitter.com/rubyshift">@rubyshift</a> and we'll get in touch with you.</p>
  </div>
</section>

<section id="assistance" class="clearfix">
  <div class="span-12">
    <h1>Assistance</h1>
    <p>You will be able to get in touch 24/7 with the organizing committee during the conference. Just give us a call at +380(98)691-1323. We will publish more phone numbers in a little while.</p>
  </div>
  <div class="span-12 last">
    <h1>Taxi</h1>
    <p>The recommended taxi services are +380(56)374-7474 and +380(56)236-6366. They offer a fair rate and a quick service.</p>
    <p>You'll have suggestions on cafés, bars, pubs and taxis in your conference guide.</p>
  </div>
</section>

<section id="schedule">
  <h1>Schedule</h1>
  <p>This is our draft schedule, which is obviously a subject to change. We'll publish the list of speakers in early August, so feel free to submit a proposal!</p>
  <h2>Friday, October 21</h2>
  <table class="schedule">
    <tr>
      <th class="event">Event</th>
      <th class="time">Time</th>
    </tr>
    <tr>
      <td>
        Drinks / Pre-conference Party
        at <a href="http://maps.google.com.ua/maps/place?cid=8966743062485920411&q=beerhouse+dnipropetrovsk&hl=en&dtab=0&sll=48.492519,34.792532&sspn=0.066725,0.622294&ie=UTF8&ll=48.805055,34.155121&spn=0,0&z=10">Beerhouse</a></td>
      <td>19:00 – 22:00</td>
    </tr>
  </table>

  <h2>Saturday, October 22</h2>
  <table class="schedule">
    <tr>
      <th class="event">Event</th>
      <th class="time">Time</th>
    </tr>
    <tr>
      <td>Registration and Breakfast</td>
      <td>7:00 – 9:45</td>
    </tr>
    <tr>
      <td>Opening Talk / Welcome</td>
      <td>9:45 — 10:00</td>
    </tr>
    <tr>
      <td>Keynote</td>
      <td>10:00 — 10:45</td>
    </tr>
    <tr class="break">
      <td>Break</td>
      <td>10:45 — 11:15</td>
    </tr>
    <tr>
      <td>Josh Kalderimis</td>
      <td>11:15 — 12:00</td>
    </tr>
    <tr class="break">
      <td>Lunch</td>
      <td>12:00 — 14:00</td>
    </tr>
    <tr>
      <td>Sven Fuchs</td>
      <td>14:00 — 14:45</td>
    </tr>
    <tr class="break">
      <td>Break</td>
      <td>14:45 — 15:15</td>
    </tr>
    <tr>
      <td>Thorben Schröder</td>
      <td>15:15 — 16:00</td>
    </tr>
    <tr class="break">
      <td>Break</td>
      <td>16:00 — 16:30</td>
    </tr>
    <tr>
      <td>Talk</td>
      <td>16:30 — 17:15</td>
    </tr>
    <tr>
      <td>Lighting Talks</td>
      <td>17:30 — 19:30</td>
    </tr>
    <tr>
      <td>Dinner Party</td>
      <td>20:00 — 2:00</td>
    </tr>
  </table>

  <h2>Sunday, October 23</h2>
  <table class="schedule">
    <tr>
      <th class="event">Event</th>
      <th class="time">Time</th>
    </tr>
    <tr class="break">
      <td>Breakfast <span style="color:#FFF;font-style:italic;">(pop a few Alka-Seltzers)</span></td>
      <td>9:00 — 10:00</td>
    </tr>
    <tr>
      <td>Talk</td>
      <td>10:00 — 10:45</td>
    </tr>
    <tr class="break">
      <td>Break</td>
      <td>10:45 — 11:15</td>
    </tr>
    <tr>
      <td>Talk</td>
      <td>11:15 — 12:00</td>
    </tr>
    <tr class="break">
      <td>Lunch</td>
      <td>12:00 — 14:00</td>
    </tr>
    <tr>
      <td>Talk</td>
      <td>14:00 — 14:45</td>
    </tr>
    <tr>
      <td>Talk</td>
      <td>14:45 — 15:30</td>
    </tr>
    <tr class="break">
      <td>Break</td>
      <td>15:30 — 16:00</td>
    </tr>
    <tr>
      <td>Talk</td>
      <td>16:00 — 16:45</td>
    </tr>
    <tr>
      <td>Closing Remarks</td>
      <td>16:45 — 17:00</td>
    </tr>
    <tr>
      <td>Dinner with a speaker</td>
      <td>19:30 — 21:30</td>
    </tr>
  </table>
</section>

<section id="speakers">
  <h1>Speakers</h1>
  <div class="speaker clearfix">
    <div class="span-4">
      <img src="/speakers/thorben.png">
    </div>
    <div class="span-20 last">
      <h3>Thorben Schröder</h3>
      <h4>Bridging the gap - Using JavaScript in Rails to write DRY rich client applications</h4>
      <p>Thorben Schröder is founder of “kopfmaschine”, a German Rails shop located in Bremen, northern Germany.</p>
      <p>Even while in University, he lived & breathed Ruby since 2006 and did his thesis on how to scale large Rails applications.</p>
      <p>Together with Jan Steinmetz, Thorben founded “kopfmaschine” in 2010 where they delivered web development to the German market. Beside normal web apps “kopfmaschine” built HTML5 apps that are used as “native” apps on Windows or mobile clients like the iPad. Today he works at Engine Yard in San Francisco, where he helps to make the life of developers a little easier - every day.</p>
    </div>
  </div>
</section>

<section id="tickets">
  <h1>Tickets</h1>
  <p>RubyShift 2011 will have great speakers. However, before we announce who they are we offer you to grab a ticket.</p>
  <p>Rails contributors also get special pricing: 100% off if you have 50 commits or more, 50% for 20 commits, and 10% for 1 or more commits. It's also possible to get a discount if you're contributing to other projects. <a href="https://spreadsheets.google.com/a/rubyshift.org/spreadsheet/viewform?formkey=dDkwTlVxMVd4WGdIN1E2ZEVjUUpWRlE6MQ">Apply</a> for a personal discount code.</p>
  <br>
  <div id="amiando">
    <script type="text/javascript" src="https://www.amiando.com/resources/js/amiandoExport.js"></script><iframe src="https://www.amiando.com/QLXFLZL.html?viewType=iframe&panelId=1006897&useDefaults=false&resizeIFrame=true" frameborder="0" width="650px" height="450px" name="_amiandoIFrame1006897WZCe78QG" id="_amiandoIFrame1006897WZCe78QG"><p>This page requires frame support. Please use a frame compatible browser to see the amiando ticket sales widget.</p><p> Try out the <a href="http://www.amiando.com/">online event registration system</a> from amiando.</p></iframe>
  </div>
  <p>Please enter the correct information (name and company) for each participant, as this data will be used on the conference badges.</p>
  <p>If you made a mistake with the participant information, please let us know at <a href="mailto:contact@rubyshift.org">contact@rubyshift.org</a>, and we can manually correct the information.</p>
</section>

<section id="submit-a-proposal">
  <h1>Submit a Proposal</h1>
  <p>You're about to submit a proposal for 2nd conference on Ruby programming language in Eastern Europe. Thanks for that.</p>
  <p>You can give a talk, organize a master class or panel discussion. To make a submission please, fill in <a href="https://spreadsheets.google.com/a/rubyshift.org/spreadsheet/viewform?formkey=dHdQQUhFRUE5ZkkwcmhPOUNpbkRGMkE6MQ">this form</a>. You can edit your submission later.</p>
</section>

<section id="socialize">
  <h1>Socialize</h1>
  <p>Twitter: Tag your tweets with <a href="http://search.twitter.com/search?q=%23rubyshift">#rubyshift</a>, follow <a href="http://twitter.com/rubyshift">@rubyshift</a></p>
  <p>Flickr: Tag your photos with <a href="http://www.flickr.com/photos/tags/rubyshift/">#rubyshift</a></p>
</section>

<section id="sponsor-us">
  <h1>Sponsor Us</h1>
  <p>Interested in sponsoring? Download our <a href="/concept.pdf">concept paper</a> and <a href="/sponsorship-prospectus.pdf">sponsorship prospectus</a>, and then drop us a line at <a href="mailto:sponsorships@rubyshift.org">sponsorships@rubyshift.org</a>.</p>
</section>

<a id="dates" href="#tickets">
  <span>October 22—23, 2011</span>
  <span>Grab a ticket!</span>
</a>
