<section id="the-conference">
  <div class="clearfix banner">
    <div class="span-8 prepend-8 date-banner">
      <p class="conf-name">RubyShift 2011</p>
      <p class="date">October 22—23</p>
      <p class="place">Dnipropetrovsk, Ukraine</p>
    </div>
  </div>

  <h1>The Conference</h1>
  <p>
    When you come to RubyShift 2011, you'll get a single-track, two-day Ruby conference, featuring the best speakers ever attended Eastern Europe.
    On October 22—23, 2011, more than 250 people will be attending the conference. <a href="#tickets">Register now</a> and grab a ticket to join them.
  </p>
</section>

<section id="sponsors">
  <h1>Sponsors</h1>
  <a href="http://evrythng.net"><img src="/sponsors/evrythng.png"></a>
  <a href="http://ciklum.net"><img src="/sponsors/ciklum.png"></a>
  <a href="http://softserveinc.com"><img src="/sponsors/softserve.png"></a>
  <a href="http://it-jam.com.ua"><img src="/sponsors/it_jam.png"></a>
  <a href="http://github.com"><img src="/sponsors/github.png"></a>
  <a href="http://railsware.com"><img src="/sponsors/railsware.png"></a>
  <a href="http://codeschool.com"><img src="/sponsors/codeschool.png"></a>
  <a href="http://wix.com"><img src="/sponsors/wix.png" style="margin-top:10px;"></a>
  <a href="#"><img src="/sponsors/indigo.png" style="margin-top:10px;margin-left:20px;"></a>
</section>

<section id="venue">
  <h1>Venue</h1>
  <p>RubyShift 2011 will take place at Potyomkin Palace in the heart of Dnipropetrovsk, Ukraine. It's located in the central park area near the river bank.</p>
  <br>
  <iframe width="950" height="500" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="http://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=CZuyAsQsIq7jFTJy4wIdSx0XAik3rXsQzuLbQDGS35StYk6VUg&amp;q=48.460657,35.070934&amp;aq=&amp;sll=48.460338,35.069259&amp;sspn=0.009676,0.021501&amp;ie=UTF8&amp;ll=48.460657,35.070934&amp;spn=0.002419,0.005375&amp;z=14&amp;output=embed"></iframe><br /><small><a href="http://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=CZuyAsQsIq7jFTJy4wIdSx0XAik3rXsQzuLbQDGS35StYk6VUg&amp;q=48.460657,35.070934&amp;aq=&amp;sll=48.460338,35.069259&amp;sspn=0.009676,0.021501&amp;ie=UTF8&amp;ll=48.460657,35.070934&amp;spn=0.002419,0.005375&amp;z=14" style="color:#0000FF;text-align:left">View Larger Map</a></small>
</section>

<section id="travel" class="clearfix">
  <div class="span-12">
    <h1>Travel</h1>
    <p>Ukraine doesn't require a visa for 200+ countries, including the United States and European Union. Daily flights from Vienna. Check your favorite booking web site for more info.</p>
    <p>Ping us and we'll meet you at the airport.</p>
  </div>
  <div class="span-12 last">
    <h1>Assistance</h1>
    <p>You will be able to get in touch 24/7 with the organizing committee during the conference. Just give us a call at +380(98)691-1323. Also, we'll be happy to help you with accommodation, just <a href="mailto:contact@rubyshift.org">drop us an email</a>.</p>
  </div>
</section>

<section id="schedule">
  <h1>Schedule</h1>
  <h2>Friday, October 21</h2>
  <table class="schedule">
    <tr>
      <th class="event">Event</th>
      <th class="time">Time</th>
    </tr>
    <tr>
      <td>
        Drinks / Pre-conference Party
        at <a href="http://maps.google.com.ua/maps/place?cid=8966743062485920411&q=beerhouse+dnipropetrovsk&hl=en&dtab=0&sll=48.492519,34.792532&sspn=0.066725,0.622294&ie=UTF8&ll=48.805055,34.155121&spn=0,0&z=10">Beerhouse</a></td>
      <td>19:00 – 22:00</td>
    </tr>
  </table>

  <div class="clearfix">
    <div class="span-12">
      <h2>Saturday, October 22</h2>
      <table class="schedule">
        <tr>
          <th class="event">Event</th>
          <th class="time">Time</th>
        </tr>
        <tr>
          <td>Registration and Breakfast</td>
          <td>7:00 – 9:45</td>
        </tr>
        <tr>
          <td>Opening Talk / Welcome</td>
          <td>9:45 — 10:00</td>
        </tr>
        <tr>
          <td>Open Source Life (Keynote)</td>
          <td>10:00 — 10:45</td>
        </tr>
        <tr class="break">
          <td>Break</td>
          <td>10:45 — 11:15</td>
        </tr>
        <tr>
          <td>Josh Kalderimis</td>
          <td>11:15 — 12:00</td>
        </tr>
        <tr class="break">
          <td>Lunch</td>
          <td>12:00 — 14:00</td>
        </tr>
        <tr>
          <td>Nick Sutterer</td>
          <td>14:00 — 14:45</td>
        </tr>
        <tr class="break">
          <td>Break</td>
          <td>14:45 — 15:15</td>
        </tr>
        <tr>
          <td>Thorben Schröder</td>
          <td>15:15 — 16:00</td>
        </tr>
        <tr class="break">
          <td>Break</td>
          <td>16:00 — 16:30</td>
        </tr>
        <tr>
          <td>Jon Leighton</td>
          <td>16:30 — 17:15</td>
        </tr>
        <tr>
          <td>Lighting Talks</td>
          <td>17:30 — 19:30</td>
        </tr>
        <tr class="break">
          <td>Dinner Party</td>
          <td>20:00 — 2:00</td>
        </tr>
      </table>
    </div>
    <div class="span-12 last">
      <h2>Sunday, October 23</h2>
      <table class="schedule">
        <tr>
          <th class="event">Event</th>
          <th class="time">Time</th>
        </tr>
        <tr>
          <td><span style="color:#FFF;font-style:italic;">(zZZZZZZZ...)</span></td>
          <td></td>
        </tr>
        <tr class="break">
          <td>Breakfast <span style="color:#FFF;font-style:italic;">(Alka-Seltzers!)</span></td>
          <td>9:00 — 10:00</td>
        </tr>
        <tr>
          <td>Yaroslav Lazor</td>
          <td>10:00 — 10:45</td>
        </tr>
        <tr class="break">
          <td>Break</td>
          <td>10:45 — 11:15</td>
        </tr>
        <tr>
          <td>Michael Klishin</td>
          <td>11:15 — 12:00</td>
        </tr>
        <tr class="break">
          <td>LUNCH</td>
          <td>12:00 — 14:00</td>
        </tr>
        <tr>
          <td>Pablo Dejuan</td>
          <td>14:00 — 14:45</td>
        </tr>
        <tr class="break">
          <td>Break</td>
          <td>14:45 — 15:15</td>
        </tr>
        <tr>
          <td>Aleksander Dąbrowski</td>
          <td>15:15 — 16:00</td>
        </tr>
        <tr>
          <td>Sergei Kozlov</td>
          <td>16:00 — 16:45</td>
        </tr>
        <tr class="break">
          <td>Break</td>
          <td>16:45 — 17:15</td>
        </tr>
        <tr>
          <td>Master Classes</td>
          <td>17:15 — 18:00</td>
        </tr>
        <tr>
          <td>Closing Remarks</td>
          <td>18:00 — 18:15</td>
        </tr>
      </table>
    </div>
  </div>
</section>

<section id="speakers">
  <h1>Speakers</h1>
  <div class="speaker clearfix">
    <div class="span-4">
      <img src="/speakers/thorben.png">
    </div>
    <div class="span-20 last">
      <h3>Thorben Schröder</h3>
      <h4>Bridging the gap — Using JavaScript in Rails to write DRY rich client applications</h4>
      <p>Together with Jan Steinmetz, Thorben founded “kopfmaschine” in 2010 where they delivered web development to the German market. Today he works at Engine Yard in San Francisco, where he helps to make the life of developers a little easier — every day.</p>
      <p>This talk shows how to integrate the two worlds seamlessly and without pain. It will show paths to DRY up your business logic, ways to integrate your JS specs in your Ruby testing environment / CI, and last but not least how to maximize your benefits from using JS together with Ruby.</p>
    </div>
  </div>
  <br>
  <div class="speaker clearfix">
    <div class="span-4">
      <img src="/speakers/kalderimis.png">
    </div>
    <div class="span-20 last">
      <h3>Josh Kalderimis</h3>
      <h4>Travis CI — Distributed, Сontinuous Integration for the Ruby community</h4>
      <p>
        Josh is a top-30 Ruby on Rails contributor and has been working with
        the framework since 2008. He maintains a massive amount of open-source
        Ruby projects, including multi_json, linkedin, faraday_middleware and
        his own completeness-fu. He's also one of Amsterdam.rb's organizers,
        the head PR guy and core team member for the Travis-CI team.
      </p>
      <p>
        In his talk Josh, one of the core members of the developers team, will
        talk about Travis CI and introduce you to the vision behind it and the
        way it is implemented.
      </p>
    </div>
  </div>
  <br>
  <div class="speaker clearfix">
    <div class="span-4">
      <img src="/speakers/leighton.png">
    </div>
    <div class="span-20 last">
      <h3>Jon Leighton</h3>
      <h4>How hard can it be? — Implementing nested through associations in Active Record</h4>
      <p>
        <a href="http://jonathanleighton.com">Jon Leighton</a> is a freelance
        Ruby programmer with a passion for code quality. He accidentally became
        a Rails committer in April 2011 after discovering that submitting
        patches is addictive.
      </p>
      <p>
        In September 2010, Jon Leighton began implementing a long standing
        feature request in Rails. But what initially seemed like a few days'
        work became an epic journey, involving a near complete rewrite of
        Active Record's associations code. 6 months and 240 commits later, the
        patch finally landed. In this talk you will hear valuable insights
        gained along the way, and learn about the refactoring techniques
        used.
      </p>
    </div>
  </div>
  <br>
  <div class="speaker clearfix">
    <div class="span-4">
      <img src="/speakers/fuchs.png">
    </div>
    <div class="span-20 last">
      <h3>Sven Fuchs</h3>
      <h4>Open Source Life (Keynote)</h4>
      <p>
        Sven Fuchs, pronounced [sfɛn fʊks], is an experienced software developer
        and opensource enthusiast currently based in Berlin. While focussing on
        Ruby/Rails development for the last 4 years he published a good number
        of Ruby and Rails projects, tools and libraries. Consistently ranked
        amongst the top 30 on Rails ranking sites he is probably best known for
        leading the Ruby I18n project, the Ruby gem which is shipped with Rails
        to provide internationalization support.
      </p>
    </div>
  </div>
  <br>
  <div class="speaker clearfix">
    <div class="span-4">
      <img src="/speakers/lazor.png" style="width:150px;">
    </div>
    <div class="span-20 last">
      <h3>Yaroslav Lazor</h3>
      <h4>Heroes of UnSilicon Valley</h4>
      <p>
        Insight of Railsware CEO Yaroslav Lazor on how to make great products
        in a right way with Ruby on Rails in Ukrainian reality.
      </p>
    </div>
  </div>
  <br>
  <div class="speaker clearfix">
    <div class="span-4">
      <img src="/speakers/pable-dejuan.jpeg" style="width:150px;">
    </div>
    <div class="span-20 last">
      <h3>Pablo Dejuan</h3>
      <h4>Rethinking Testing Towards Your Needs</h4>
      <p>
        Pablo Dejuan is a programmer and IT consultant working for Cubox at
        Montevideo. However, from time to time, he changes hats and do things
        that programmers dislike the most such as focusing on business
        expectations, reporting, budgeting or QA.
      </p>
      <p>
        Nowadays, TDD, BDD, continuous testing and other methodologies have
        come into our attention when developing. Yet, we barely know what
        needs to be tested and why are we testing it?  During the talk we will
        go through a bunch of testing methodologies.
      </p>
    </div>
  </div>
  <br>
  <div class="speaker clearfix">
    <div class="span-4">
      <img src="/speakers/aleks.jpg" style="width:150px;">
    </div>
    <div class="span-20 last">
      <h3>Aleksander Dąbrowski</h3>
      <h4>Building API: Sinatra, Node.js or Else</h4>
      <p>
        We create APIs. We want them to be fast. We want them to get into high
        gear. But we also like to play with new toys and produce clean code.
        In this talk, Aleksander will confront Node.js vs Sinatra as a tool to
        build external API for Rails application. He will focus on pros and
        cos of sharing code with main application, performance and scalabilty.
        He'll also take a look at other solutions, maybe secret ingredient is
        somewhere else?
      </p>
      <p>
        Aleksander Dąbrowski is everyday Ruby programmer since 2008. He loves to
        spread Ruby around so, he co-organize Warsaw Ruby Users Group, where he
        sometimes speak; and tries to teach Ruby on his blog. He loves to delete
        ugly code, and in his spare time repairs cars.
      </p>
    </div>
  </div>
  <br>
  <div class="speaker clearfix">
    <div class="span-4">
      <img src="/speakers/antares.jpg" style="width:150px;">
    </div>
    <div class="span-20 last">
      <h3>Michael Klishin</h3>
      <h4>Polyglot Programming: Why and How</h4>
      <p>
        In the modern software universe thing get more and more sophisticated,
        data volumes and UI responsiveness expectations grow, more new
        technologies emerge. Some see it as a threat, others see it as an
        opportunity. In this talk we will look into how companies and teams that
        heavily use Ruby today may add Java, Clojure or Erlang to their
        toolchain without losing sanity or taking on massive risks.
      </p>
      <p>
        Michael has been a member of the Ruby community since 2006 and using
        Java and other JVM languages on and off since about 2004. These days he
        works on systems that involve Clojure, Java, Ruby and C, maintains
        several AMQP clients for various languages and reaps the benefits of
        polyglot programming with his team every day.
      </p>
    </div>
  </div>
  <br>
  <div class="speaker clearfix">
    <div class="span-4">
      <img src="/speakers/nick.jpeg" style="width:150px;">
    </div>
    <div class="span-20 last">
      <h3>Nick Sutterer</h3>
      <h4>Write RIAs, Not Websites! — A Portlet Framework for Rails</h4>
      <p>
        The monolithic view architecture in Rails makes many developers write
        pure JavaScript frontends while Rails acts as a service backend, only.
        Nothing's wrong with that approach, but since we love Ruby, why not
        move UI development back to it where it's possible?

        In this talk he will focus about the question why UIs don't have to be
        JS-only and how frontends can be designed as pure REST clients.
      </p>
      <p>
        Nick Sutterer appreciates the beauty of elegant code, and the value of
        open source software. Through his tireless development and advocacy of
        the Cells and Apotomo gems, he has brought the concepts of
        component-oriented UI development to the world of Rails, proving that
        there should be no such thing as a double-render error, and that one
        need not be slave to the great monolithic view mentality. Also, he
        would like to have beer with you.
      </p>
    </div>
  </div>
  <br>
  <div class="speaker clearfix">
    <div class="span-4">
      <img src="/speakers/nomadcoder.jpg" style="width:150px;">
    </div>
    <div class="span-20 last">
      <h3>Sergei Kozlov</h3>
      <h4>Rapid RIA Development with Netzke</h4>
      <p>
        Netzke is a young but quickly evolving framework that brings together
        2 of the biggest players on the web-development scene, Ruby on Rails
        and Sencha Ext JS, in a unique, modular way: it allows the developers
        to create true web components that incapsulate both client and server
        side code, doing all the heavy-lifting on component extensibility,
        client-server communication, JS caching, composability, and so on, all
        of which results in clean, highly maintainable desktop-like web-apps.
        Using pre-built components as building blocks, one can quickly build
        extremely complex applications that handle hundreds of Rails models
        easily - without writing too much code.
      </p>
      <p>
        Sergei is leading a nomad freelance life style, doing contract
        Netzke/Rails jobs, speaking on conferences, as well as promoting
        Netzke on local user-groups and Rails development shops around the
        world.
      </p>
    </div>
  </div>
  <br>
  <div class="speaker clearfix">
    <div class="span-4">
      <img src="/speakers/sergienko.jpg" style="width:150px;">
    </div>
    <div class="span-20 last">
      <h3>Sergei Sergienko</h3>
      <h4>Open Source for Sentient Cloud Management Systems</h4>
      <p>
        Every day Sergey works as a Ruby on Rails Coach at Altoros.
        At night, he is the Ruby Developer at the RightScale, Inc. Sergey is
        engaged in developing and support of the key Open Source products of the
        company. The mainstream of the development he's working on refers to
        a Sentient Cloud Management Systems. In this talk, Sergey will share his
        experience of development and using Open Source products, for creation of
        automated infrastructure, which provides an automation solution for managing
        servers and responding to events in the cloud.
      </p>
    </div>
  </div>
  <br>
  <h2>Master Classes</h2>
  <br>
  <div class="speaker clearfix">
    <div class="span-4">
      <img src="/speakers/antares.jpg" style="width:150px;">
    </div>
    <div class="span-20 last">
      <h3>Michael Klishin</h3>
      <h4>Getting Started with AMQP and RabbitMQ (Master Class)</h4>
      <p>
        In the modern software universe thing get more and more sophisticated,
        data volumes grow, new technologies emerge every year. These trends
        force developers to split monolithic applications into multiple smaller
        ones and integrate applications that use different technologies using
        various forms of messaging. Advanced Message Queueing Protocol (AMQP) is
        one of the most mature, powerful and efficient open protocols available
        for the task. In this master class we will learn about AMQP, RabbitMQ,
        Ruby clients available and how to get started with them without pulling
        your hair out.
      </p>
    </div>
  </div>
  <br>
  <div class="speaker clearfix">
    <div class="span-4">
      <img src="/speakers/bussink.jpg" style="width:150px;">
    </div>
    <div class="span-20 last">
      <h3>Dirkjan Bussink</h3>
      <h4>Running Your Stuff with Rubinius (Master Class)</h4>
      <p>
        Do you want to see whether full concurrency helps your app? Do you
        think your code is an ideal showcase for JIT'ing? Are you doing things
        that stress Ruby implementations to their limit? Or are you interested
        in knowing how Ruby works internally?
      </p>
      <p>
        Then come and run your code on Rubinius. We will look at code people will
        supply together and show how to use the various tools available such as the
        profiler, debugger and tools for memory analysis to fix people's bugs and
        performance issues.
      </p>
      <p>
        Dirkjan Bussink spends his working days between cows in the scenic
        country side of the Netherlands at <a
          href="http://www.nedap.com">Nedap</a>. There he works on software
        and sometimes even plays with actual hardware devices. As one of his
        open source contributions he likes tinkering with Rubinius and has
        been an active contributor since 2007.
      </p>
    </div>
  </div>
  <br>
  <h2>Lighting Talks</h2>
  <br>
  <div class="speaker clearfix">
    <div class="span-4">
      <img src="/speakers/shevtsov.png" style="width:150px;">
    </div>
    <div class="span-20 last">
      <h3>Leonid Shevtsov</h3>
      <h4>How to Extract, Grow and Release a Ruby Gem (Lighting Talk)</h4>
      <p>
        Do you have code that's being copied from project to project? Or maybe
        you're using a popular library and have to work around a bug?
      </p>
      <p>
        Leonid is a Rails developer since 2009, currently works for RailsWare.
        Ruby made him an opensource believer, so he wrote some gems himself
        and participated in others.
      </p>
    </div>
  </div>
  <br>
  <div class="speaker clearfix">
    <div class="span-4">
      <img src="/speakers/amishyn.jpg" style="width:150px;">
    </div>
    <div class="span-20 last">
      <h3>Alexander Mishyn</h3>
      <h4>Building High Performance Ruby Applications — Sending 1 Million Emails per Hour (Lighting Talk)</h4>
      <p>
        When project became success, you have to be ready to "kick ass". You
        should build solution to serve current load and scalable for future
        growth. How we move from few emails via ActionMailer to 1 million
        emails per hour via our email sending service.
      </p>
      <p>
        Alexander is a Ruby developer since 2007. Currently he's working for
        Railsware.
      </p>
    </div>
  </div>
  <br>
  <div class="speaker clearfix">
    <div class="span-4">
      <img src="/speakers/boiko.png" style="width:150px;">
    </div>
    <div class="span-20 last">
      <h3>Sergei Boiko</h3>
      <h4>Grow Your Knowledge Tree (Lighting Talk)</h4>
      <p>
        While your application evolves you run into performance issues,
        technology constraints and hard to fix bugs. Only solid knowledge
        give you means to deal with these obstacles. This talk is about what
        knowledge and experience every Ruby programmer should master and how
        to gain them in most efficient way.
      </p>
      <p>
        Sergei is a Ruby developer since 2006, currently works for RailsWare. 
      </p>
    </div>
  </div>
</section>

<section id="tickets">
  <h1>Tickets</h1>
  <p>Rails contributors also get special pricing: 100% off if you have 50 commits or more, 50% for 20 commits, and 10% for 1 or more commits. It's also possible to get a discount if you're contributing to other projects. <a href="https://spreadsheets.google.com/a/rubyshift.org/spreadsheet/viewform?formkey=dDkwTlVxMVd4WGdIN1E2ZEVjUUpWRlE6MQ">Apply</a> for a personal discount code.</p>
  <br>
  <div id="amiando">
    <script type="text/javascript" src="https://www.amiando.com/resources/js/amiandoExport.js"></script><iframe src="https://www.amiando.com/QLXFLZL.html?viewType=iframe&panelId=1006897&useDefaults=false&resizeIFrame=true" frameborder="0" width="650px" height="450px" name="_amiandoIFrame1006897WZCe78QG" id="_amiandoIFrame1006897WZCe78QG"><p>This page requires frame support. Please use a frame compatible browser to see the amiando ticket sales widget.</p><p> Try out the <a href="http://www.amiando.com/">online event registration system</a> from amiando.</p></iframe>
  </div>
  <p>Please enter the correct information (name and company) for each participant, as this data will be used on the conference badges.</p>
  <p>If you made a mistake with the participant information, please let us know at <a href="mailto:contact@rubyshift.org">contact@rubyshift.org</a>, and we can manually correct the information.</p>
</section>

<section id="socialize">
  <h1>Socialize</h1>
  <p>Twitter: Tag your tweets with <a href="http://search.twitter.com/search?q=%23rubyshift">#rubyshift</a>, follow <a href="http://twitter.com/rubyshift">@rubyshift</a></p>
  <p>Flickr: Tag your photos with <a href="http://www.flickr.com/photos/tags/rubyshift/">#rubyshift</a></p>
  <p>Google Plus: Tag your photos with <a href="https://picasaweb.google.com/lh/view?q=rubyshift">#rubyshift</a></p>
</section>

<section id="sponsor-us">
  <h1>Sponsor Us</h1>
  <p>Interested in sponsoring? Download our <a href="/concept.pdf">concept paper</a> and <a href="/sponsorship-prospectus.pdf">sponsorship prospectus</a>, and then drop us a line at <a href="mailto:sponsorships@rubyshift.org">sponsorships@rubyshift.org</a>.</p>
</section>
