<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>RubyShift 2011</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/application.css">
  </head>
  <body>
    <div id="wrapper">
      <header>
        <nav id="masthead">
          <ul>
            <li><a href="#proposal">Submit a Proposal</a></li>
            <li><a href="#tickets">Tickets</a></li>
            <li><a href="#schedule">Schedule</a></li>
            <li><a href="#venue">Venue</a></li>
          </ul>
        </nav>
      </header>

      <%= yield %>
    </div>

    <footer>
      <p>♥ RubyShift is brought to you by volunteers. ♥</p>
    </footer>
  </body>
</html>
