$base-font-size: 16px;
$base-line-height: 20px;

@import "compass";
@import "compass/reset";
@import "compass/typography";
@import "blueprint/typography";
@import "blueprint/grid";

@include blueprint-typography;
@include establish-baseline;
@include blueprint-grid;

p { margin:0; }

/* Layout */
html { overflow-y:scroll; background:#fff; }
body { text-align:center; border-top:4px solid #000; }
body, select, input, textarea { color:#444; }
#wrapper { margin-bottom:10px; padding:20px; text-align:left; @include container; }

h1 { font-size:22px; margin-bottom:10px; margin-top:20px; color:#FF0000; font-family:Palatino, "Georgia", "Times New Roman", serif; }
h2 { font-size:18px; margin-bottom:2px; margin-top:10px; text-align:center; font-weight:bold; }
h3 { font-size:18px; margin-bottom:2px; font-weight:bold; }
h4 { margin-bottom:0.75em; }
h1 a { color:#444; }

/* Amiando */
#amiando { text-align:center; }

/* Masthead */
#masthead { margin-bottom:20px; @include clearfix; }
#masthead #branding { float:left; }
#masthead #branding a { display:block; width:177px; height:42px; text-indent:-9999px; background:url('/assets/logo.png') no-repeat 0 0; }
#masthead nav { float:right; margin-top:3px; }
#masthead nav ul { margin:0; padding:0; }
#masthead nav li { float:right; list-style:none; }
#masthead nav li a { display:block; padding:7px 10px; font-size:16px; text-decoration:none; text-transform:uppercase; }
#masthead nav li.register a { background:#f33; color:#fff; @include border-radius(3px); @include text-shadow(0 -1px rgba(204, 0, 0, 0.75)); }

/* Speakers */
#speakers .speaker img { @include border-radius(3px); }
#speakers .speaker p { margin-bottom:0.5em; }

/* Sections */
section { margin-bottom:40px; }

/* Footer */
footer { padding:30px 0; text-align:center; color:#FFF; background:#000; }

#sponsors div { text-align:center; }

/* Schedule Table */
.schedule { width:100%; border-top:1px solid #EAEAEA; }
.schedule th, .schedule td { padding:5px; border-bottom:1px solid #EAEAEA; }
.schedule th { font-weight:bold; }
.schedule .event { width:350px; font-weight:bold; }
.schedule .time { width:150px; }
.schedule .break { font-style:italic; text-transform:uppercase; color:#999; }

/* Banner */
.banner { margin:30px 0; font-family:Palatino, "Georgia", "Times New Roman", serif; font-style:italic; }
.banner .date-banner { text-align:center; }
.banner .date { margin:4px 0 6px; font-size:28px; font-weight:bold; }

/* The Clearfix */
.clearfix { @include clearfix; }

/* People */
#people { margin:0; padding:0; @include clearfix; }
#people li { float:left; list-style:none; margin:0; padding:0; }
#people li a { display:block; float:left; margin-right:5px; }
#people li a img { display:block; }
