/*# Reset ========================================================================================================== */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn,
em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header,
hgroup, menu, nav, section, summary, time, mark, audio, video {
  margin:0;
  padding:0;
  border:0;
  outline:0;
  font-size:100%;
  font:inherit;
  vertical-align:baseline;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display:block;
}

nav ul { list-style:none; }
blockquote, q { quotes:none; }
blockquote:before, blockquote:after, q:before, q:after { content:''; content:none; }
a { margin:0; padding:0; font-size:100%; vertical-align:baseline; background:transparent; }
ins { background-color:#ff9; color:#000; text-decoration:none; }
mark { background-color:#ff9; color:#000; font-style:italic; font-weight:bold; }
del { text-decoration:line-through; }
abbr[title], dfn[title] { border-bottom:1px dotted; cursor:help; }
table { border-collapse:collapse; border-spacing:0; }
hr { display:block; height:1px; border:0; border-top:1px solid #ccc; margin:1em 0; padding:0; }
input, select { vertical-align:middle; }

/* Fonts =========================================================================================================== */
body { font:13px/1.231 "helvetica neue",helvetica,arial,sans-serif; *font-size:small; }
select, input, textarea, button { font:99% sans-serif; }
pre, code, kbd, samp { font-family:monospace, sans-serif; }

/* Minimal base styles ============================================================================================= */
input[type="radio"] { vertical-align:text-bottom; }
input[type="checkbox"] { vertical-align:bottom; }
label, input[type="button"], input[type="submit"], input[type="image"], button { cursor:pointer; }
button, input, select, textarea { margin:0; }

input:valid, textarea:valid   {  }
input:invalid, textarea:invalid {
      border-radius:1px;
    -moz-box-shadow:0px 0px 5px red;
 -webkit-box-shadow:0px 0px 5px red;
         box-shadow:0px 0px 5px red;
}

::-moz-selection{ background:#FF5E99; color:#fff; text-shadow:none; }
::selection { background:#FF5E99; color:#fff; text-shadow:none; }

a:link { -webkit-tap-highlight-color:#FF5E99; }
button {  width:auto; overflow:visible; }
img { -ms-interpolation-mode:bicubic; }

/* Fonts */
@font-face {
  font-family: 'Pacifico';
  font-style: normal;
  font-weight: normal;
  src: local('Pacifico'), url('http://themes.googleusercontent.com/font?kit=yunJt0R8tCvMyj_V4xSjaXYhjbSpvc47ee6xR_80Hnw') format('woff');
}

/* Layout ========================================================================================================== */
html { overflow-y:scroll; background:#FFF; }
body { text-align:center; border-top:4px solid #000; }
body, select, input, textarea { color:#444; }
#wrapper { width:950px; margin:0 auto; padding:20px; text-align:left; }

a:hover, a:active { outline:none; }
a, a:active, a:visited { color:#607890; }
a:hover { color:#036; }

h1 { font-size:18px; margin-bottom:10px; margin-top:20px; }
h2 { font-size:14px; margin-bottom:5px; margin-top:10px; text-align:center; font-weight:bold; }
h1 a { color:#444; }

#amiando { text-align:center; }

#branding a { font-family:'Pacifico',arial,serif; font-size:24px; text-decoration:none; color:#000; }

#register-today-wrapper { margin-top:50px; text-align:center; }
#register-today { font-size:16px; }

/* Masthead */
#masthead { margin-bottom:20px; }
#masthead #branding { float:left; }
#masthead nav { float:right; margin-top:3px; }
#masthead nav li { float:right; }
#masthead nav li a { display:block; margin-left:10px; padding:5px; font-size:14px; text-decoration:none; text-transform:uppercase; }

/* Footer */
footer { padding:30px 0; text-align:center; color:#FFF; background:#000; }

/* Sponsors */

/* Schedule Table */
.schedule { width:100%; border-top:1px solid #EAEAEA; }
.schedule th, .schedule td { padding:5px; border-bottom:1px solid #EAEAEA; }
.schedule th { font-weight:bold; }
.schedule .event { width:350px; font-weight:bold; }
.schedule .time { width:150px; }
.schedule .speaker { width:200px; }
.schedule .location { width:200px; }

/* The Clearfix */
#masthead:before,
#masthead:after,
.clearfix:before,
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  overflow: hidden;
}
#masthead:after, .clearfix:after { clear:both; }
#masthead, .clearfix { zoom:1; } /* IE < 8 */
